# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
*.swp
fonts/Amazon Endure font EN/_MACOSX/_AmazonEndure-Book.otf
fonts/Amazon Endure font EN/_MACOSX/_AmazonEndure-BookItalic.otf
fonts/Amazon Endure font EN/_MACOSX/_AmazonEndure-Light.otf
fonts/Amazon Endure font EN/_MACOSX/_AmazonEndure-LightItalic.otf
fonts/Amazon Endure font EN/_MACOSX/_AmazonEndure-SemiBold.otf
fonts/Amazon Endure font EN/_MACOSX/_AmazonEndure-SemiBoldItalic.otf
fonts/Amazon Endure font EN/AmazonEndure-Book.otf
fonts/Amazon Endure font EN/AmazonEndure-BookItalic.otf
fonts/Amazon Endure font EN/AmazonEndure-Light.otf
fonts/Amazon Endure font EN/AmazonEndure-LightItalic.otf
fonts/Amazon Endure font EN/AmazonEndure-SemiBold.otf
fonts/Amazon Endure font EN/AmazonEndure-SemiBoldItalic.otf
